<% include layouts/_header.ejs %>
	<div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Autenticacion</h1>

        <p>Login o Registro con:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local registro</a>
    </div>

</div>
</body>
</html>
